[submodule "tutorials/js/javascript-tutorial"]
	path = tutorials/js/javascript-tutorial
	url = git@gitee.com:mrhuangyuhui/javascript-tutorial.git
[submodule "codes/swift"]
	path = codes/swift
	url = git@gitee.com:mrhuangyuhui/swift.git
[submodule "tutorials/js/node/express/N-blog"]
	path = tutorials/js/node/express/N-blog
	url = git@gitee.com:mrhuangyuhui/N-blog.git
	ignore = dirty
[submodule "docs"]
	path = docs
	url = git@gitee.com:mrhuangyuhui/docs.git
	ignore = dirty
[submodule "tutorials/mongodb/mongodb-24h/codes"]
	path = tutorials/mongodb/mongodb-24h/codes
	url = git@gitee.com:mrhuangyuhui/mongodb-24h.git
	ignore = dirty
[submodule "codes/js-codes"]
	path = codes/js-codes
	url = git@gitee.com:mrhuangyuhui/js-codes.git
	ignore = dirty
[submodule "codes/objc-codes"]
	path = codes/objc-codes
	url = git@gitee.com:mrhuangyuhui/objc-codes.git
	ignore = dirty
[submodule "codes/docker-repos"]
	path = codes/docker-repos
	url = git@gitee.com:mrhuangyuhui/docker-repos.git
	ignore = dirty
[submodule "tools/homestead"]
	path = tools/homestead
	url = git@gitee.com:mrhuangyuhui/homestead.git
	ignore = dirty
[submodule "books/ruby-books"]
	path = books/ruby-books
	url = git@gitee.com:mrhuangyuhui/ruby-books.git
	ignore = dirty
[submodule "tools/gitignore"]
	path = tools/gitignore
	url = git@gitee.com:mrhuangyuhui/gitignore.git
	ignore = dirty
[submodule "tutorials/python/pythonds/codes"]
	path = tutorials/python/pythonds/codes
	url = git@gitee.com:mrhuangyuhui/pythonds.git
	ignore = dirty
[submodule "codes/ruby-codes"]
	path = codes/ruby-codes
	url = git@gitee.com:mrhuangyuhui/ruby-codes.git
	ignore = dirty
[submodule "tutorials/objc/NSHipster-Articles"]
	path = tutorials/objc/NSHipster-Articles
	url = git@gitee.com:mrhuangyuhui/NSHipster-Articles.git
	ignore = dirty
[submodule "codes/php"]
	path = codes/php
	url = git@gitee.com:mrhuangyuhui/php-code-submodules.git
	ignore = dirty
