<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>localhost.backup-bash-profile</string>
	<key>Program</key>
	<string>/Users/yuhuihuang/backup-bash-profile.sh</string>
	<key>WatchPaths</key>
	<array>
		<string>/Users/yuhuihuang/.bash_profile</string>
	</array>
</dict>
</plist>
